* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F7F5;
}

header {
    margin-bottom: 0px;
}

h1 {
    font-size: 3em;
    font-weight: 200;
    color: #2541B2;
    line-height: 1.3em;
}

h2 {
    font-size: 2.7em;
    font-weight: 400;
    color: #2541B2;
}

a {
    color: #2541B2;
    font-weight: 500;
  }

  .header ul li a.active
  {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}
  
  /* header */
  
  .header {
    background-color: #F4F7F5;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #F4F7F5;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    opacity: 0.6;
  }

  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #2541B2;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #2541B2;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 24px 32px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 40px;
    padding-top: 24px;
}

.welcome {
    padding-top: 56px;
    padding-left: 16px;
    padding-right: 16px;
}

.projects {
    display: grid;
    width: 100%;
    max-height: 100%;
}

.project-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 4 / 3;
}

.projects img {
    max-width: 70%;
    max-height: 80%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.6);
    color: #F4F7F5;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.1s ease;
    backdrop-filter: blur(0.5px);
}

.project-box:active .overlay {
    opacity: 1;
}

.overlay-text {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    padding: 24px;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 32px;
    border-radius: 4px;
}

.project-details-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 60vh;
}

.project-details-box img {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
}

.description {
    padding-top: 0px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    justify-content: center;
}

.description p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #333;
}

footer {
    bottom: 0;
    position: relative;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #2541B2;
    text-align: center;
    color: #F4F7F5;
    font-size: 16px;
}

footer p {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

footer a {
    color: #F4F7F5;
    text-underline-offset: 2px;
}

footer a:hover {
    opacity: 0.6;
}


@media only screen and (min-device-width: 640px) {


    .welcome {
        padding-left: 0px;
        padding-right: 0px;
    }
    

    h1 {
        font-size: 5em;
        color: #2541B2;
    }

    .header {
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0);
        width: 100%;
      }
      

    main {
        width: 90%;
        margin-bottom: 240px;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        width: 100%;
        gap: 8px;
    }

    .project-box {
        border-radius: 4px;
    }

    .project-box:hover .overlay {
        opacity: 1;
    }
    

    .project-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
        padding-top: 48px;
    }

    .description {
        padding-top: 0px;
        padding-bottom: 16px;
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #fbfbfb;
    }

    footer {
        position: fixed;
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: rgba(37, 65, 178, 0.92);

    }

}

@media only screen and (min-device-width: 1280px) {

    main {
        width: 80%;
    }
}    
    @media only screen and (min-device-width: 1920px) {

        main {
            width: 60%;
        }
}