body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(189, 215, 172);
    margin: 0;
    color: #232124;
    margin-bottom: 160px;
}


h1 {
    font-size: 8.5vw;
    font-weight: 400;
}

h2 {
    font-size: 4.9vw;
    font-weight: 200;
}

h3 {
    font-size: 2rem;
    font-weight: 200;
}

.header {
    text-align: center;
}

.header-back {
    text-align: center;
    position: fixed;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 80px;
    top: 0;
    background-image: linear-gradient( rgba(189, 215, 172, 1), rgba(189, 215, 172, 0));
    z-index: 200;
}

.header-back img {
        width: 80px;
        filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(61, 87, 43, 0.4));
}


.thumb {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: #232124;
    font-size: 15vw;
  }



.thumb img {
    width: 100%;
    margin-bottom: 24px;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(61, 87, 43, 0.4));
    
}

.project-text {
    margin: auto;
    padding-top: 8vw;
    padding-left: 3%;
    padding-right: 3%;
}


footer {
    text-align: center;
    position: fixed;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
    padding-top: 80px;
    bottom: 0;
    background-image: linear-gradient( rgba(189, 215, 172, 0), rgba(189, 215, 172, 1));
}



footer img {
    width: 80px;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(61, 87, 43, 0.4));
}

@media only screen and (min-device-width: 450px) {

    h1 {
        font-size: 5.7vw;
        font-weight: 400;
    }
    
    h2 {
        font-size: 3.3vw;
        font-weight: 200;
    }
    
    h3 {
        font-size: 2vw;
        font-weight: 200;
    }

    .header-back img {
        width: 64px;
        filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(97, 111, 98, 0.5));
}
    

    .content {
        margin-left: 15%;
        margin-right: 15%;
    }

    .thumb {
        display: block;
        position: relative;
        text-align: center;
        width: 87%;
        margin: auto;
        margin-top: 10%;
    }



    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        color: #232124;
        font-size: 9vw;
      }

    .thumb img {
        border-radius: 12px;
    }

    .project-text {
        margin: auto;
        padding-top: 5vw;
        width: 88%;
    }
    
    footer img {
        width: 64px;
        filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(97, 111, 98, 0.5));
    }
    

}


